canvas {
    background-color: lightsteelblue;
    outline-style: solid;
    outline-width: 2px;
    margin-right: auto;
    margin-left: auto;
    display: block;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
    background-color: slategray;
}