.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ui-card {
    background-color: white;
    padding: 2em;
    margin: 1em;
    border-radius: 0.3em;
}

canvas {
    background-color: #dddddd;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
    background-image: url("./bg00.png");
    font-family: Arial;
}